body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #FFAAAA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #FFF8F2;
    width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.profile {
    bottom: 0;
    left: 20px;
    width: 250px;
    height: auto;
    border-radius: 30px;
}

.header h1 {
    margin: 0;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: #333;
}

.skills-table-container {
    right: 20px;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
}

.skills-table {
    width: 100%;
    border-collapse: collapse;
}

.skills-table th,
.skills-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.skills-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.category-column {
    width: 30%;
    background-color: #f2f2f2;
    font-weight: bold;
}

.content {
    padding: 20px;
    color: #333;
}

.content h2 {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    background-color: #dfdede;
}

.footer {
    text-align: right;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}